/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --spotify_darkest: #000000;
    --spotify_darker: #141922;
    --spotify_dark: #282828;
    --spotify_dark_extra: #080B1291;
    --spotify_light_extra: #717171;
    --spotify_light: #7D7F84;
    --spotify_lighter: #A3A3A3;
    --spotify_accent: #ADFF2F;
    --spotify_lightest: #FFFFFF;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* #endregion Common */

/* #region Utilities */
.d_flex {
    display: flex;
}

/* #endregion Utilities */

/* #region Wrapper */
.wrapper {
    height: calc(100vh - 90px);
}

.sidebar {
    background-color: var(--spotify_darkest);
    width: 270px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    color: var(--spotify_light_extra);
    overflow: hidden;
    flex-shrink: 0;
}

.sidebar_top,
.sidebar_bot {
    padding: 1rem;
}

.sidebar a{
    text-decoration: none;
    color: var(--spotify_light_extra);
    font-weight: 700;
    font-size: 13px;
}

.logo,
nav {
    padding-bottom: 1.5rem;
}

svg.spotify-logo--text {
    width: 130px;
}

nav div {
    padding: 0.3rem 0;
}

nav svg {
    width: 25px;
    vertical-align: middle;
}

.home,
.playlist h2 {
    color: var(--spotify_lightest);
}

.home {
    border-left: 5px solid var(--spotify_accent);
    margin-left: -16px;
    padding-left: 11px;
}
.home a{
    color: var(--spotify_lightest);
}

.playlist h2 {
    font-weight: 800;
    font-size: 13px;
}

.new_playlist a{
    font-weight: 800;
    font-size: 14px;
}

.playlist ul {
    list-style-type: none;
}

.playlist li {
    padding: 0.6rem 0;
}

.new_playlist {
    padding-top: 0.35rem;
    padding-bottom: 0.6rem;
}

.add_playlist i{
    vertical-align: middle;
    font-size: 40px;
    padding-right: 0.5rem;
}

.install {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--spotify_light_extra);
}

.install svg {
    width: 1rem;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.account {
    padding-top: 0.5rem;
    color: var(--spotify_lightest);
    font-weight: 800;
}

.account svg {
    width: 20px;
    vertical-align: middle;
    object-fit: contain;
    border-radius: 50%;
}

.circle {
    background-color: var(--spotify_light_extra);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
}

.sidebar a:hover,
.headbar a:hover {
    color: var(--spotify_lightest);
}

.banner {
    background-color: var(--spotify_dark_extra);
    padding: 1rem 2rem;
    text-align: end;
    position: fixed;
    width: calc(100vw - 287px);
    top: 0;
    right: 17px;
}

.banner a {
    text-decoration: none;
    color: var(--spotify_lightest);
    padding: 0.75rem 3rem;
    border: 1px solid var(--spotify_lightest);
    border-radius: 3rem;
    display: inline-block;
}

.banner a:hover{
    transform: scale(1.1);
}

.container_lg {
    width: 100%;
    height: 100%;
    font-size: 13px;
    font-weight: 800;
}

.inside_wrapper {
    overflow: auto;
    height: 100%;
    background-color: var(--spotify_darker);
}

.headbar {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.headbar a {
    text-decoration: none;
    color: var(--spotify_light);
    padding-right: 1rem;
    display: inline-block;
    margin-top: 2rem;
}

.headbar .clicked {
    position: relative;
}

.headbar .clicked::before {
    content: "";
    position: absolute;
    left: 29px;
    top: 19px;
    border-bottom: 2px solid var(--spotify_accent);
    width: 30%;
}

.container {
    width: 100%;
    margin: auto;
}

.row {
    display: flex;
}

.music_section section {
    padding: 1rem;
    color: var(--spotify_lightest);
}

.music_section h2 {
    font-weight: 900;
    font-size: 23px;
    line-height: 28px;
    letter-spacing: -0.015em;
    margin-bottom: 2rem;
}

.music_section h3 {
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.music_section h5 {
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.04em;
    color: var(--spotify_light);
}

.col-2 {
    width: calc(100% /12 *2);
}

.card{
    text-align: center;
    padding-right: 1rem;
}

.image{
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 3px;
    width: 100%;
    color: var(--spotify_lightest);
    background-color: #000000c7;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    display: none;
}

.card:hover .overlay{
    display: flex;
}
.card:hover{
    cursor: pointer;
}

.created_for h2,
.popular h2{
    margin-bottom: 0.5rem;   
}

.created_for h5,
.popular h5{
    margin-bottom: 1.5rem;   
}

.popular img,
.popular .overlay {
    border-radius: 50%;
}

/* #endregion Wrapper */

/* #region playerbar */
.playerbar {
    background-color: var(--spotify_dark);
    height: 90px;
}

/* #endregion playerbar */


/* region Debug */
.debug .wrapper {
    background-color: lightcoral;
}

.debug .sidebar_top,
.debug .sidebar_bot {
    border: 1px solid red;
    height: 200px;
    width: 100%;
}

.debug.col-4 {
    background-color: #ADFF2F;
    border: 1px solid red;
    height: 100px;
}

/* endregion Debug */