/* #region Common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --spotify_darkest: #000000;
    --spotify_darker: #141922;
    --spotify_dark: #282828;
    --spotify_light_extra: #717171;
    --spotify_light: #7D7F84;
    --spotify_lighter: #A3A3A3;
    --spotify_accent: #ADFF2F;
    --spotify_lightest: #FFFFFF;
}
/* #endregion Common */

/* #region Wrapper */
    .wrapper{
        height: calc(100vh - 90px);
    }
    .sidebar{
        background-color: var(--spotify_darkest);
        width: 230px;
        height: 100%;
    }
/* #endregion Wrapper */

/* #region playerbar */
    .playerbar{
        background-color: var(--spotify_dark);
        height: 90px;
    }

/* #endregion playerbar */


/* region Debug */
.debug .wrapper{
    background-color: lightcoral;
}

/* endregion Debug */